{% extends 'main/layout.html' %}

{% block content %}
<div class="container mt-5">
    <p><strong>Your role:</strong> {{ request.user.user_role }}</p>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Username</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone_number }}</td>
                <td>{{ user.address }}</td>
                <td>{{ user.get_user_role_display }}</td> <!-- Виведення людського вигляду ролі -->
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">No users found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
